<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Francesco: Contacto</title>
    <link
      rel="shortcut icon"
      href="../static/img/FAVICON/FAVICON.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <img src="../static/img/LOGO/logo.png.png" class="logo" id="logo-left" alt="logo_pizzeria"/>

      <div class="Titulo">
        <h1 id="Textopp">
          Francesco, pizza a la piedra. 
          <br /> <br />
          Cocinando las mejores pizzas para vos
          <i class="encabezado">desde 1985.</i>
        </h1>
      </div>
      <img src="../static/img/LOGO/logo.png.png" class="logo" id="logo-right" alt="logo_pizzeria"/>
    </header>

    <nav>
      <a href="../index.html">Inicio</a>
      <a href="menu_salon.html">Menú Salón</a>
      <a href="menu_delivery.html">Menú Delivery</a>
      <a href="contacto.html">Contacto</a>
      <!-- <a href="crud_pizzas.html">CRUD Pizzas</a>
      <a href="crud_usuarios.html">CRUD Usuarios</a> -->
      <a href="gestion-crud.html">Gestión</a>
      
    </nav>
    <br /><br />
    <main>
        <h2 class="nombre_de_plantilla">Selecciona una opción de gestión:</h2>
        <br />
        <br />
            <ul>
                <li><a href="crud_pizzas.html">Pizzas</a></li>
                <li><a href="crud_usuarios.html">Usuarios</a></li>
            </ul>
      
            <br />
            <br />
      <br />
      <br />
      <br />
      <br />
      <br />

    </main>

    <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    <footer>
      <p><u>Ubicación:</u> Mar del Plata, Buenos Aires, Argentina</p>
      <p><u>Dirección:</u> Bernardo de Irigoyen 3498</p>
      <p><u>Teléfonos:</u> 451-6194 / 486-3137 </p>
      <p><u>Días y horarios de atención:</u> Todos los días de 19 a 23.30 hs</p>
      <p><u>Consultas:</u> francesco@hotmail.com</p>
    </footer>
  
    <script src="../static/js/validación_formulario.js"> </script>

  </body>
</html>
